#div {
  /* https://www.w3schools.com/css/css_overflow.asp*/
  position: fixed;
  top: 35%;
  margin-left: 700px;
  overflow: hidden;

  width: 500px; /*Largura*/
  height: 151px; /*Altura*/
}
#btn {
  border-radius: 2px;
  font-family: helvetica;
  margin: 3px;
  padding: 1px;
}

#map {
  margin-right: 800px;
  height: 400px;
}
