body {
  background-color: rgb(243, 235, 235);
}
#h2 {
  color: blue;
  margin-left: 13%;
  margin-top: 50px;
}

#Dcar {
  margin-left: 800px;
}
#div {
  /* https://www.w3schools.com/css/css_overflow.asp*/
  position: fixed;
  top: 35%;
  margin-left: 700px;
  overflow: hidden;
  width: 500px; /*Largura*/
  height: 151px; /*Altura*/
}
#btn {
  font-family: helvetica;
  margin-left: 800px;
  border: 2px;
  padding: 1px;
  padding-bottom: 6px;
  padding-top: 6px;
  border-left: 6;
  overflow: hidden;
}

#map {
  margin-right: 800px;
  height: 400px;
  margin-top: -30px;
}
